@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
	font-family: 'UniSansCaps';
	src: url('../font/uni-sans.heavy-caps.eot');
	src: local('☺'), url('../font/uni-sans.heavy-caps.woff') format('woff'), url('../font/uni-sans.heavy-caps.ttf') format('truetype'), url('../font/uni-sans.heavy-caps.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.flexblock {
    display: flex;
    justify-content: center;
    align-items: center;

    #b1 {
        background-color: rgb(255, 255, 167);
        padding: 5px;
        margin: 20px;
        cursor: pointer;
    }
    #b2 {
        background-color: rgb(255, 255, 167);
        padding: 5px;
        margin: 20px;
        cursor: pointer;
    }
    #b3 {
        background-color: rgb(255, 255, 167);
        padding: 5px;
        margin: 20px;
        cursor: pointer;
    }
}

.t {
    padding: 5px;
    font-size: 30px;
}